<h1>Puppicinos looking for a new home</h1>
<div class="card-columns">
	<% @listings.each_with_index do |listing, index| %>
		 <div class='card' >
		 		<%= image_tag (listing.image if listing.image.present?), :class => "card-img-top" %>
		 	<div class="card-body">
		 		<h5 class = "card-title"> <%= listing.name %> </h5>
		 	</div>
		 		<ul class = "list-group list-group-flush">
			 		<li class="list-group-item">Price: $<%= listing.price %> </li>
			 		<li class="list-group-item">Breeder: <%= link_to listing.breeder.name, breeder_path(listing.breeder.id) %> </li>
			 		<li class="list-group-item">Location: <%= listing.breeder.city %> </li>
			 		<% if listing.breed.present? %>
			 		<li class="list-group-item">Breed: <%= listing.breed.name %> </li>
			 		<% end %>
			 		<li class="list-group-item"><%= listing.description %> </li>
		 		</ul>
		 	<div class="card-body">
		 		<%= link_to 'See full listing', listing, :class => 'card-link' %> </li>
		 	</div>
		 </div>
		<% end %>
</div>