<div class="card mb-3">
	<% if @listing.image.present? %>
	<%= image_tag @listing.image, :class => 'card-img-top listing-view' %>
	<% end %>
<!--   <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
  <div class="card-body">
    <h3 class="card-title"><%= @listing.name %></h3>
    <ul>
		<li> Price $<%= @listing.price %> </li> 
		<li> Available? <%= @listing.availability  %> </li> 
		<% if @listing.breeder.present? %>
		<li> Breeder: <%= link_to @listing.breeder.name, breeder_path(@breeder_id) %> </li>
		<% end %>
	</ul>
    <p class="card-text"> <%= @listing.description %></p>
    <button type="button" class="btn btn-primary btn-lg btn-block"> <%= "Enquire about #{@listing.name}" %> </button>
    
    <% if @extras == true %>
    <%= link_to 'Edit', edit_listing_path %>
    <br>
    <%= link_to 'Delete', @listing, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<%= link_to 'Back to all pups', listings_path %>