<div class="card mb-3">
	<% if @breeder.photo.present? %>
	<%= image_tag @breeder.photo, :class => 'card-img-top breeder-view' %>
	<% end %>
<!--   <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
  <div class="card-body">
    <h3 class="card-title"><%= @breeder.name %></h3>
    <ul>
		<li> Location <%= @breeder.city %>, <%= @breeder.state %> </li> 
	</ul>
	<h2>Our breeds </h2>
<% @breeder.breeds.each do |breed| %>
<ul class = "list-group">
<li class="list-group-item"> <%= link_to breed.name, breed_path(breed.id) %> </li>
<% end %>
</ul>	
  </div>
</div>
<%= link_to 'Back to all breeders', breeders_path %>

<% if @current_user.present? && @current_user.isBreeder? %>
<%= link_to 'Edit breeder', edit_breeder_path %>
<%= link_to 'Delete breeder', @breeder, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
<%= link_to 'View users', user_path %>
<%= link_to 'Add a breed', new_breed_path %>
<% end %>